.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
  width: 100vw;
  height: 1175px;
  margin-bottom: 110px;
}

.parent-container {
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px #888888;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 12px;
}

.image-container {
  width: 150px;
  height: 150px;
  margin: 25px 0px;
  position: relative;
  left: 42%;
  margin-top: 70px;
}

img {
  /* add css to align this image at center using CSS2 */
  width: 100%;
  height: 100%;
}

.text-heading-container {
  /* margin: 0px 100px; */
  text-align: center;
  font-size: xx-large;
  margin-top: 100px;
  margin-bottom: 100px;
}

.text-container {
  margin: 0px 100px;
  text-align: center;
  font-size: xx-large;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

h3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: relative;
  margin-top: -200px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
