{% extends "admin/change_list.html" %}

{% block object-tools %}
<div style="margin-bottom: 1rem;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input required type="file" name="upload_csv" accept=".csv" />
        <button type="submit" class="button">Upload CSV</button>
        
        <a href="https://docs.google.com/spreadsheets/d/1B4CPCtWWLnalQ_TXxQGOKeYfwZ3CSdz13Ls98aNgXyU/edit?gid=785220442#gid=785220442" target="_blank" class="button">Template</a>
    </form>
</div>
{{ block.super }}
{% endblock %}
