<!DOCTYPE html>
<html>
  <title>Online HTML Editor</title>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'card/styles_view.css'%}" />
  </head>
  <body>
    <div class="main">
      <div class="parent-container">
        <div class="image-container">
          <!-- <img src="{% static 'card/icon.png'%}" alt="keys" /> -->
          <img src="https://i.ibb.co/FBMBsHz/icon.png" alt="keys" />
        </div>
        <div class="text-title-container">
          <!-- For lines in text list show lines as a paragraph -->
          <h2>{{ heading }}</h2>
        </div>
        <div class="text-container">
          <!-- For lines in text list show lines as a paragraph -->
          <p>{{ text }}</p>
          <h3 class="text-container">C O A C H B O T&nbsp;&nbsp;K E Y S</h3>
        </div>
      </div>
    </div>
  </body>
</html>
